/***********************************************************************************
 Header Section
***********************************************************************************/
@media (max-width: 991px) {

    .main_menu {
        padding: 10px 0;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 20px 0;
        text-align: center;
    }
}


/***********************************************************************************
 Banner Section
***********************************************************************************/

@media (min-width: 768px) and (max-width: 1199px) {

    .banner_content {
        padding: 150px 0;
    }

}

@media (max-width: 1199px) {

    .left_item {
        border-right: 0;
    }
}

@media (max-width: 767px) {
    .sm_padding {
        padding-top: 280px;
    }

    .house_bg {
        margin-bottom: 50px;
        padding-bottom: 320px;
    }
}



/***********************************************************************************
 About Section
***********************************************************************************/

@media (max-width: 991px) {}

/***********************************************************************************
 App Section
***********************************************************************************/

@media (max-width: 991px) {}

/***********************************************************************************
 Uses Section
***********************************************************************************/


@media (max-width: 991px) {}

/***********************************************************************************
 Video Section
***********************************************************************************/


@media (max-width: 991px) {}


/***********************************************************************************
 Gallery Section
***********************************************************************************/

@media (max-width: 991px) {}

/***********************************************************************************
 Contact Section
***********************************************************************************/

@media (max-width: 991px) {}

/***********************************************************************************
 Footer Section
***********************************************************************************/

@media (max-width: 991px) {}
