/* 1.---------------------------------------------
                 Default CSS
------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #121212;
    background: #f7f799;
    font-family: 'Poppins', sans-serif;
}

img {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
    outline: 0;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
}

.btn.focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.overflow_x {
    overflow-x: hidden;
}

.main_heading h2 {
    font-family: 'PT Serif', serif;
}

/*+++++++++++++++++++++++++++++Section-1+++++++++++++++++++++++++*/


.section_1 {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

/*===============House Hold=========*/
.left_item {
    border-right: 1px solid #000;
    padding-bottom: 20px;
}

.house_hold {
    margin: 0 15px;
}

.border_top {}

.house_bg {
    background: #d4dbea;
    border-radius: 30px;
    padding-top: 0;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 200px;

}

.house_item {
    text-align: center;
}

.house_item .img {
    padding-top: 40px;
    text-align: center;
}

.house_item .img img {
    border: 5px solid #fff;
    border-radius: 30px;
    padding: 10px;
}

.top {
    position: relative;
    display: inline-block;

}

.bottom {
    background: #4f81bd;
    border: 4px solid #fff;
    border-radius: 0 0 30px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -280px;
    padding: 15px;
    text-align: center;
    height: 270px;
}

.bottom h2 {
    font-size: 48px;
    font-family: 'PT Serif', serif;
}

span {
    text-align: center;
}


/*====Health Care======*/

.health_care .heading {

}

.health_care .img {
    padding-top: 30px;
}

.caregivers h3 {
    font-weight: 700;
}

.caregivers .img {
    padding-top: 30px;
}

/*+++++++++++++++++++++++Right Side+++++++++++++++*/

.students h3 {
    color: #595959;
    line-height: 1.7;
}

.students .img {
    border-bottom: 1px solid #ddd;
}

.students .img h3 {
    font-family: 'PT Serif', serif;
    color: #121212;
    padding-top: 10px;
}

.abailability h2 {
    text-align: left;
}

.abailability h3 {
    font-size: 24px;
    color: #121212;
    text-align: left;
}

.school_toilets h2 {
    font-weight: 700;
}

.school_toilets h3 {

    font-size: 22px;
    color: #121212;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif !important;
}

.school_toilets h3 span {
    font-weight: 700;
    font-size: 35px;
}

.school_toilets .img {
    border: none;
}

.sanitary_pads .img {
    border: none;
    text-align: center
}

.sanitary_pads h3 {
    padding-top: 10px;
    font-size: 22px;
    color: #121212;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif !important;
}

.sanitary_pads h3 span {
    font-weight: 700;
    font-size: 30px;
}

/*++++++++++++Section-2++++++++++++++*/

.content {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 20px;
}

.content .border_right {
    border-right: 1px solid #000;
}

.left_item-2 {
    padding: 20px 0;
}

.red {
    color: red;
    font-size: 22px !important;
}

.small_text {
    font-size: 24px !important;
}

.left_text .top_1:after {
    content: none;
}

.left_text .top_1 {
    position: relative;
}

/*
.left_text .top_1:before {
    position: absolute;
    content: '';
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    width: 1px;
    height: 150px;
}

.left_text .top_1:last-child:before {
    content: none !important;
}
*/

.right_item-2 {
    padding: 20px 0;
}

.right_item-2 h2 {
    position: relative;
    padding-bottom: 15px;
}

.right_item-2 h2:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: -15px;
    right: -15px;
    background: #000;
    height: 1px;
}


.top_1 {
    position: relative;
    padding-bottom: 30px;
    margin-top: 30px;
}

.top_1:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: -15px;
    right: -15px;
    background: #000;
    height: 1px;
}

.right_item-2 .top_1:last-child:after {
    content: none;
}

.top_1 h3 {
    font-size: 22px;
    color: #121212;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif !important;
}

.top_1 h3 span {
    font-weight: 700;
    font-size: 30px;
}

.right_item-2 img {
    margin-top: 30px;
}

.footer_text p {
    font-weight: 400;
    text-align: left;
}

.footer_text p span {
    font-weight: 700;
}